@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

 /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Raleway", sans-serif; */

  /* mixed style */
  .border{
    border: 2px solid steelblue;
  }
  .btn-secondary{
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: orange;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
  }
  .btn-primary{
    background-color: black;
  }
  .orange{
    color: orange;
  }
  .skyblue{
    color: skyblue;
  }
  .paste{
    color: #05D4DF;
  }
  .violet{
    color: #5D58EF;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .section-title{
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    margin-top: 70px;
  }

  /* header style */
  header{
    max-width: 1150px;
    margin: 0 auto;
    font-family: "Quicksand", sans-serif;
  }
  /* nav style */
  .menu{
    display: none;
  }
  ul{
    gap: 30px;
  }
  nav li{
    list-style: none;
  }
  nav a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
  }
  .bold{
    font-weight: 700;
  }
  
  /* banner style */
  .banner{
    align-items: center;
  }
  .banner-content{
    max-width: 640px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 3.5rem;
    color: black;
  }
  .section-description{
    color: black;
    font-size: 1.25rem;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  /* curriculum style */
  .curriculum{
    text-align: center;
    background-image: url(../assets/bg.png);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    margin: 0px auto;
  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px;
  }
  .card{
    border-radius: 18px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    max-width: 300px;
    padding: 50px 40px;
  }
  .card h4{
    font-size: 1.5rem;
    color: #202020;
  }
  .card-description{
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.93rem;
  columns: #808080;
  }
  .card-1{
    background: linear-gradient(to bottom, #DEF5FF 0%, #FFFFFF 40%);
    border: 1px solid #DEF5FF;
  }
  .card-2{
    background: linear-gradient(to bottom, #FFF4DC 0%, #FFFFFF 40%);
    border: 1px solid #FFF4DC;
  }
  .card-3{
    background: linear-gradient(to bottom, #EEE1FF 0%, #FFFFFF 40%);
    border: 1px solid #F2E8FF;
  }

  /* Media Query for small device */
  @media screen and (max-width: 576px) {
    nav h3, ul, nav button{
        visibility: hidden;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }
    .banner img{
        max-width: 100%;
        height: auto;
    }
    .card-container{
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }